<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//iybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dduckdori.ssdam_server.Mapper.AnswerMapper">

    <insert id="Save_Answer" parameterType="com.dduckdori.ssdam_server.Answer.AnswerDTO">
        INSERT INTO SD_ANSWER (CATE_ID,QUST_ID,MEM_ID,INVITE_CD,ANS_CN,ANS_DTM,FST_INPR,LAST_UPDR)
        VALUES(#{Cate_id},#{Qust_id},#{Mem_id},#{Invite_cd},#{Ans_cn},NOW(),#{Fst_inpr},#{Last_updr})
    </insert>

    <insert id="Save_Answer_Hist" parameterType="com.dduckdori.ssdam_server.Answer.AnswerDTO">
        INSERT INTO SD_ANS_HIST (CATE_ID,QUST_ID,MEM_ID,INVITE_CD,ANS_CN,ANS_DTM,FST_INPR,LAST_UPDR)
        VALUES(#{Cate_id},#{Qust_id},#{Mem_id},#{Invite_cd},#{Ans_cn},NOW(),#{Fst_inpr},#{Last_updr})
    </insert>

    <select id="Find_Answer" resultType="com.dduckdori.ssdam_server.Answer.AnswerDTO" parameterType="com.dduckdori.ssdam_server.Answer.AnswerDTO">
        SELECT A.CATE_ID,A.QUST_ID,A.MEM_ID,A.INVITE_CD,A.ANS_CN,A.ANS_DTM
        FROM SD_ANSWER A
        JOIN SD_MEMBER B
            ON A.MEM_ID=B.MEM_ID
            AND A.INVITE_CD = B.INVITE_CD
        WHERE A.CATE_ID = #{Cate_id}
          AND A.QUST_ID = #{Qust_id}
          AND A.INVITE_CD = #{Invite_cd}
          <if test="Mem_id != null and Mem_id !=''">
              AND A.MEM_ID = #{Mem_id}
          </if>
    </select>

    <select id="Find_Non_Ans_Num" resultType="int" parameterType="String">
        SELECT COUNT(*) AS NON_ANS_NUM
        FROM SD_MEMBER AS A
                 LEFT JOIN SD_SEND_DETLSD AS B ON A.INVITE_CD=B.INVITE_CD
                 LEFT JOIN SD_ANSWER AS C ON B.QUST_ID=C.QUST_ID AND B.CATE_ID=C.CATE_ID AND B. INVITE_CD=C.INVITE_CD AND A.MEM_ID=C.MEM_ID
                 LEFT JOIN SD_QUESTION AS D ON B.QUST_ID=D.QUST_ID AND B.CATE_ID=D.CATE_ID
        WHERE C.ANS_CN IS NULL
        AND A.INVITE_CD = #{inviteCd}
    </select>
</mapper>