<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//iybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dduckdori.ssdam_server.Mapper.SchedulerMapper">

    <select id="getComplete_Answer" resultType="com.dduckdori.ssdam_server.Scheduler.SchedulerDTO">
        SELECT A.CATE_ID,A.QUST_ID,A.INVITE_CD,A.ARRIVE_DTM,C.MEM_NUM,IFNULL(D.ANS_NUM,0) AS ANS_NUM
        FROM SD_SEND_DETLSD AS A
                 JOIN (SELECT INVITE_CD,MAX(ARRIVE_DTM) AS ARRIVE_DTM FROM SD_SEND_DETLSD GROUP BY INVITE_CD) AS B
                      ON A.INVITE_CD = B.INVITE_CD
                          AND A.ARRIVE_DTM = B.ARRIVE_DTM
                 JOIN (SELECT INVITE_CD, COUNT(*) AS MEM_NUM FROM SD_MEMBER GROUP BY INVITE_CD) AS C
                      ON B.INVITE_CD = C.INVITE_CD
                 LEFT JOIN (SELECT CATE_ID,QUST_ID,INVITE_CD, COUNT(*) AS ANS_NUM FROM SD_ANSWER GROUP BY CATE_ID,QUST_ID,INVITE_CD) AS D
                           ON A.CATE_ID = D.CATE_ID
                               AND A.QUST_ID = D.QUST_ID
                               AND A.INVITE_CD = D.INVITE_CD

    </select>
    <select id = "getCate_Qust" resultType="com.dduckdori.ssdam_server.Scheduler.SchedulerDTO">
        SELECT CATE_ID, QUST_ID FROM SD_QUESTION;
    </select>
    <select id = "getQuestion_send" parameterType="map" resultType="com.dduckdori.ssdam_server.Scheduler.SchedulerDTO">

        SELECT D.CATE_ID,D.QUST_ID,D.INVITE_CD FROM (SELECT AA.CATE_ID,AA.QUST_ID,AA.INVITE_CD
        FROM (SELECT CATE_ID,QUST_ID,A.INVITE_CD FROM SD_QUESTION,(SELECT INVITE_CD FROM SD_MEMBER GROUP BY INVITE_CD) AS A) AS AA
        LEFT JOIN SD_SEND_DETLSD AS BB
        ON AA.CATE_ID=BB.CATE_ID AND AA.QUST_ID=BB.QUST_ID AND AA.INVITE_CD=BB.INVITE_CD
        WHERE BB.INVITE_CD IS NULL) AS D
        WHERE D.INVITE_CD IN <foreach collection="complete_answer" item="item" index="index" separator="," open="(" close=")"> #{item} </foreach>
        ;

    </select>
    <insert id="send_Question" parameterType="java.util.List">
        INSERT INTO SD_SEND_DETLSD(CATE_ID,QUST_ID,INVITE_CD,FST_INPR,LAST_UPDR,ARRIVE_DTM)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.Cate_id},
            #{item.Qust_id},
            #{item.Invite_cd},
            '0000',
            '0000',
            #{item.Arrive_dtm}
            )
        </foreach>
    </insert>
</mapper>